# Build results
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# NuGet packages
*.nupkg
*.snupkg
**/[Pp]ackages/
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# .NET Core / .NET 6+
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Publish output
**/publish/
**/PublishProfiles/

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store
